* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1075px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    width: 750px;
  }

  .promo__wrapper {
    margin: 40px 30px 0 0;
  }

  h1.promo__header {
    font-size: 30px;
  }

  h2.promo__subheader {
    font-size: 17px;
  }

  .advanteges__icon {
    width: 210px;
  }

  .advanteges__icons {
    justify-content: center;
  }

  .consultation__title {
    padding: 0 10px;
  }

  .consultation__description {
    padding: 0 10px;
  }

  .feed-form {
    margin: 0 auto;
  }

  .tns-item img {
    width: 500px;
  }

  .carousel .prev {
    display: none;
  }

  .carousel .next {
    display: none;
  }

  .tns-nav {
    text-align: center;
    padding-bottom: 10px;
  }
  .tns-nav button {
    margin-right: 5px;
  }
}
@media (max-width: 479px) {
  .header {
    flex-direction: column;
    width: 100%;
  }

  .promo {
    padding-bottom: -9px;
  }

  div.promo__wrapper {
    margin: 23px 15px 0 0;
  }

  h1.promo__header {
    font-size: 30px;
  }

  h2.promo__subheader {
    font-size: 15px;
  }

  div.promo__icons {
    margin-right: 0;
    width: 100%;
  }

  h1.advanteges__firstText {
    font-size: 22px;
  }

  .advanteges__icons {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .tns-item img {
    width: 300px;
  }

  .carousel .prev {
    display: none;
  }

  .carousel .next {
    display: none;
  }
}
@media (max-width: 320px) {
  .header {
    flex-direction: column;
    width: 100%;
  }

  div.promo__wrapper {
    margin: 0 5px 0 5px;
  }

  h1.promo__header {
    font-size: 20px;
  }

  h2.promo__subheader {
    font-size: 11px;
  }

  div.promo__icons {
    flex-direction: column;
    align-items: center;
  }

  div.promo__icon {
    margin-bottom: 33px;
  }

  button.button.button_main {
    display: block;
    margin: 0 auto 10px;
  }

  h1.advanteges__firstText {
    font-size: 22px;
  }

  .advanteges__icons {
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
  }

  h1.consultation__title {
    font-size: 28px;
    line-height: 37px;
  }

  .tns-ovh {
    overflow: hidden;
    margin-left: -76px;
  }
}
.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../bg/bg1.png) center center/cover no-repeat;
}

.promo__wrapper {
  display: flex;
  margin-top: 91px;
  flex-direction: column;
  align-items: flex-end;
}

.promo__icons {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 464px;
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  justify-content: space-between;
  margin-right: 40px;
}

.promo__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__icon img {
  margin-bottom: 20px;
}

.promo__header {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__subheader {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 17px;
}

.promo__link {
  font-family: MuseoModerno;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.promo__link a {
  text-decoration: underline;
  font-weight: 500;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}
.header__official span {
  font-family: MuseoModerno;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: white;
  display: block;
  padding-top: 7px;
}
.header__phone {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border-radius: 5px;
  border: none;
  display: block;
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: white;
}
.button_main {
  width: 303px;
  height: 54px;
  font-size: 16px;
  margin: 65px 0 23px 0;
}
.button_submit {
  width: 100%;
  height: 55px;
}

.advanteges {
  background-color: #F6F6F6;
}
.advanteges__firstText {
  padding: 70px 0 60px 0;
  font-family: MuseoModerno;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.advanteges__icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #0D0D0D;
  margin-bottom: 65px;
}
.advanteges__icons a {
  color: red;
}
.advanteges__icon {
  width: 269px;
}
.advanteges__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.advanteges__icon span {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #0D0D0D;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../bg/bg2.jpg) center center/cover no-repeat;
}
.consultation__title {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 8px;
}
.consultation__description {
  font-family: MuseoModerno;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 54px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  font-family: MuseoModerno;
  font-size: 14px;
  line-height: 66px;
  color: #4B4B4B;
  padding: 0 20px;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  position: relative;
  padding: 81px;
}
.carousel__inner {
  width: 750px;
  margin: 0 auto;
}
.carousel .prev {
  position: absolute;
  top: 34%;
  left: 7.5%;
}
.carousel .next {
  position: absolute;
  left: auto;
  top: 34%;
  right: 7%;
}
.carousel .tns-item img {
  display: block;
  margin: 0 auto;
}
.carousel .tns-nav button {
  width: 15px;
  height: 15px;
  color: grey;
}
.carousel .tns-nav-active {
  background-color: black;
  border: none;
  border-radius: 50%;
}