.button
    width: 153px
    height: 32px
    background: #C70101
    border-radius: 5px
    border: none
    display: block
    margin-top: 4px
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 19px
    text-transform: uppercase
    color: white