.carousel
    position: relative
    padding: 81px
    &__inner
        width: 750px
        margin: 0 auto
    .slick-prev
        position: absolute
        top: 50%
        left: -7%
        img
            width: 31px
            height: 50px
    .slick-next
        position: absolute
        top: 50%
        left: 102%
        img
            width: 31px
            height: 50px