.consultation
    min-height: 680px
    padding: 100px 0 92px 0
    background: url('/bg/bg2.jpg') center (center/cover) no-repeat
    &__title
        font-family: MuseoModerno
        font-style: normal
        font-weight: bold
        font-size: 36px
        line-height: 54px
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 8px
    &__description
        font-family: MuseoModerno
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 30px
        color: #FFFFFF

